name: Gradle Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Java 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Build on Java ${{ matrix.java }}
        run: ./gradlew build

  update_documentation:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Java 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Set Git author
        run: |
          git config --global user.name "Arho Huttunen"
          git config --global user.email "arho.huttunen@iki.fi"

      - name: Upload Documentation
        env:
          GRGIT_USER: ${{ secrets.GITHUB_TOKEN }}
        run: ./src/publishDocumentationSnapshotOnlyIfNecessary.sh
